<div class="startbox">
  <img src="/bgimg.png", class="startimg" >
  <p><%= t('.remind delicious memories!!') %></p>
  <a href="/index" class="startbtn"><%= t('.start') %></a>
</div>

<div class="language-btn">
  <% if I18n.locale.to_s == "en" %>
    <%= link_to('日本語にする', :locale => 'ja') %></li>
  <% else %>
    <%= link_to('To English', :locale => 'en') %></li>
  <% end %>
</div>

