/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

html {
  font-family: 'Noto Sans JP', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
header {
  padding: 20px;
}
ul {
  list-style: none;
  float: right;
  margin-top: 5px;
  color: #40cef5;
  font-weight: bold;
}
li {
  display: inline;
  padding: 0 10px;
}
a {
  color: #40cef5;
}
body {
  margin: 0 0 0 0;
}
.wrapper {
  margin: 0 auto 0 auto;
  max-width: 1080px;
}

@media (max-width: 767px) {
  li {
    display: block;
    height: 20px;
    padding: 0 0 10px 0;
  }
}
.newbox {
  font-weight: bold;
}
.submit-btn {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #757575;
  background: #40cef5;
  transition: .4s;
}
.editbox {
  font-weight: bold;
}
